.banner-action {
  margin-bottom: 180px;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 42px;
  }

  &__item {
    min-height: 583px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

    &:hover {
      &::before {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background-image: url('../img/banner-action/banner-inner-1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      transition: opacity 0.3s ease-in-out;
    }

    &--1 {
      background-image: url('../img/banner-action/banner-1.jpg');
    }

    &--2 {
      background-image: url('../img/banner-action/banner-2.jpg');
    }

    &--3 {
      background-image: url('../img/banner-action/banner-3.jpg');
    }
  }

  &__link {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: var(--second-family);
    font-size: 25px;
    font-weight: 500;
    color: var(--azure-color);
  }

  &__text {
    margin: 0;
    padding: 33px 10%;
    border-radius: 20px;
    width: max-content;
    text-align: center;
    background-color: var(--light-color);
  }
}
