.form {
  &__container {
    max-width: 1200px;
  }

  &__list {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    gap: 46px;

    @include small-tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    &--textarea {
      grid-column: 1 / 3;

      @include small-tablet {
        grid-column: 1 / 2;
      }
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
  }

  &__label-title {
    margin: 0;
    margin-bottom: 25px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 18px;
    color: var(--azure-color);
  }

  &__input,
  &__textarea {
    padding: 28px 23px;
    border: 1px solid #7eb693;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-grey);

    &::placeholder {
      font-family: var(--second-family);
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      color: #ababab;
    }
  }

  &__textarea {
    min-height: 250px;
    resize: none;
  }

  &__btn {
    
  }
}
