.page-title {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f3f2f7;

  &__container {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 70px;
  }
}

.about-page {
  margin-bottom: 68px;
  background-image: url('../img/about-title-bg.png');
}

.catalog-page {
  margin-bottom: 68px;
  background-image: url('../img/catalog-bg.png');
}

.catalog-item-page {
  margin-bottom: 130px;
  background-image: url('../img/catalog-item-bg.png');
}

.news-page {
  margin-bottom: 120px;
  background-image: url('../img/news-bg.png');
}

.contacts-page {
  margin-bottom: 120px;
  background-image: url('../img/contacts-bg.png');
}
