.products {
  margin-bottom: 230px;

  &__container {
    text-align: center;
  }

  &__content {
    margin-bottom: 120px;
  }

  &__title {
    margin-bottom: 40px;
    font-size: 50px;
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
