/* stylelint-disable */

@mixin custom-checkbox {
  padding-left: 75px;
  display: flex;
  align-items: center;
  max-width: 180px;
  width: 100%;
  height: 66px;
  border: 1px solid var(--grey-color);
  border-radius: 36px;
  position: relative;

  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;
    color: var(--azure-color);
    cursor: pointer;

    &::before,
    &::after {
      border-radius: 36px;
      top: 5px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 10px;
      width: 56px;
      height: 56px;
      border: 1px solid #000;
      box-sizing: border-box;
      background-color: var(--azure-color);
      transition: left 0.3s ease-in-out;
    }

    // &::after {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   width: 56px;
    //   height: 56px;
    //   box-sizing: border-box;
    //   background-color: var(--azure-color);
    //   background-position: center;
    //   background-size: 10px 10px;
    //   background-repeat: no-repeat;
    //   opacity: 0;
    //   transition: opacity 0.3s ease-in-out;
    // }
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::before {
  left: calc(100% - 66px);
  transition: left 0.3s ease-in-out;
}

// .custom-checkbox__field:focus + .custom-checkbox__content::before {
//   // outline: 2px solid #f00;
//   // outline-offset: 2px;
// }

// .custom-checkbox__field:disabled + .custom-checkbox__content {
//   opacity: 0.4;
//   pointer-events: none;
// }
