<section class="about">
  <div class="container about__container">
    <div class="about__content">
      <div class="about__descr">
        <span class="about__subtitle small-title">О нас</span>
        <h2 class="about__title title">
          Мы работаем только с качественным сырьём от местных фермеров
        </h2>
        <p class="about__text">
          Работа с местными фермерами приносит производственным компаниям преимущество в виде высококачественного сырья, укрепляет местное сообщество, снижает экологический след и способствует устойчивости цепочки поставок, обеспечивая надежность и прозрачность.
        </p>
      </div>
      <ul class="about__list list-reset">
        <li class="about__list-item about__list-item--1">
          <h3 class="about__list-subtitle title">Только натуральная продукция</h3>
          <p class="about__list-text">
            Полагаясь на природу, мы предлагаем продукты без искусственных добавок, гарантируя вам чистоту и качество.
          </p>
        </li>
        <li class="about__list-item about__list-item--2">
          <h3 class="about__list-subtitle title">Высокие стандарты качества</h3>
          <p class="about__list-text">
            На каждом этапе производства мы стремимся к совершенству,  чтобы вы могли наслаждаться продуктами с превосходным качеством и вкусом.
          </p>
        </li>
      </ul>
      <a href="" class="about__link link link--azure">Подробнее</a>
    </div>
  </div>
</section>
