<section class="advantages">
  <div class="container advantages__container">
    <div class="advantages__content">
      <div class="advantages__inner">
        <span class="advantages__subtitle small-title">Почему мы ?</span>
        <h2 class="advantages__title title">
          Мы закупаем семена и орехи у лучших фермеров.
        </h2>
        <p class="advantages__text">
          Наша компания тщательно изучает конъюнктуру рынка, отдавая предпочтения лучшим предложениям от ведущих ферверов всего мира.
        </p>
        <ul class="advantages__list list-reset">
          <li class="advantages__item">
            <h3 class="advantages__item-subtitle">100% Натуральные продукты</h3>
            <p class="advantages__item-descr">
              Лучшие специалисты и передовые техноогии следят за производством самых натуральных продуктов
            </p>
          </li>
          <li class="advantages__item">
            <h3 class="advantages__item-subtitle">Сертификаты качества и соответсвия</h3>
            <p class="advantages__item-descr">
              Наша компания постоянно участвует в международных конкурсах
            </p>
          </li>
        </ul>
      </div>
      <picture class="advantages__picture">
        <source srcset="img/advantages/advantages-bg.webp" type="image/webp">
        <img loading="lazy" src="img/advantages/advantages-bg.jpg" class="advantages__img image" width="678" height="579" alt="Нарезанные овощи и орехи">
      </picture>
    </div>
    <ul class="advantages__icons-list list-reset">
      <li class="advantages__icons-item advantages__icons-item--1">
        <h4 class="advantages__icons-subtitle title">Доступность</h4>
        <p class="advantages__icons-text">
          Наша продукция во всех гипермаркетах
        </p>
      </li>
      <li class="advantages__icons-item advantages__icons-item--2">
        <h4 class="advantages__icons-subtitle title">100% Свежесть</h4>
        <p class="advantages__icons-text">
          Мы - местный производитель
        </p>
      </li>
      <li class="advantages__icons-item advantages__icons-item--3">
        <h4 class="advantages__icons-subtitle title">Поддержка</h4>
        <p class="advantages__icons-text">
          Мы всегда готовы ответить на все вопросы
        </p>
      </li>
    </ul>
  </div>
</section>
