<section class="banner-sub">
  <div class="container banner-sub__container">
    <div class="banner-sub__content">
      <h2 class="banner-sub__title title">
        Узнайте первыми о новых акциях!
      </h2>
      <form action="#" method="post" class="banner-sub__form">
        <label for="" class="banner-sub__label">
          <input type="email" class="banner-sub__input input-reset" placeholder="Введите ваш e-mail адрес" required>
        </label>
        <button class="banner-sub__btn btn-reset">Подписаться</button>
      </form>
    </div>
  </div>
</section>
