<section class="banner-action">
  <ul class="banner-action__list list-reset">
    <li class="banner-action__item banner-action__item--1">
      <a href="catalog.html" class="banner-action__link">
        <p class="banner-action__text">Натуральные масла</p>
      </a>
    </li>
    <li class="banner-action__item banner-action__item--2">
      <a href="catalog.html" class="banner-action__link">
        <p class="banner-action__text">НОВИНКИ</p>
      </a>
    </li>
    <li class="banner-action__item banner-action__item--3">
      <a href="catalog-item.html" class="banner-action__link">
        <p class="banner-action__text">Полезная мука</p>
      </a>
    </li>
  </ul>
</section>
