<section class="banner-promo">
  <div class="container banner-promo__container">
    <a href="#" class="banner-promo__link banner-promo__link--new">
      <span class="banner-promo__text small-title">Новинка</span>
      <h2 class="banner-promo__title">Свежайшее штирийское масло</h2>
    </a>
    <a href="#" class="banner-promo__link banner-promo__link--sale">
      <span class="banner-promo__text small-title">Скидка</span>
      <h2 class="banner-promo__title banner-promo__title--sale">Скидка 20% за подписку</h2>
    </a>
  </div>

</section>
