<section class="catalog ">
  <div class="container catalog__container">
    <ul class="products-list list-reset">
      <li class="products-list__item" data-attr="Масла">
        <a href="#" class="products-list__item-link">
          <picture class="products-list__img">
            <source srcset="img/products/products-1.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
      <li class="products-list__item" data-attr="Масла">
        <a href="#" class="products-list__item-link">
          <picture class="products-list__img">
            <source srcset="img/products/products-1.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
      <li class="products-list__item" data-attr="Масла">
        <a href="#" class="products-list__item-link">
          <picture class="products-list__img">
            <source srcset="img/products/products-1.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
      <li class="products-list__item" data-attr="Масла">
        <a href="#" class="products-list__item-link">
          <picture class="products-list__img">
            <source srcset="img/products/products-1.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
      <li class="products-list__item" data-attr="Мука">
        <a href="#" class="products-list__item-link">
          <picture class="products-list__img">
            <source srcset="img/products/products-2.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-2.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
      <li class="products-list__item" data-attr="Мука">
        <a href="#" class="products-list__item-link">
          <picture class="products-list__img">
            <source srcset="img/products/products-2.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-2.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
      <li class="products-list__item" data-attr="Мука">
        <a href="#" class="products-list__item-link">
          <picture class="products-list__img">
            <source srcset="img/products/products-2.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-2.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
      <li class="products-list__item" data-attr="Мука">
        <a href="#" class="products-list__item-link">
          <picture class="products-list__img">
            <source srcset="img/products/products-2.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-2.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
      <li class="products-list__item" data-attr="Масла">
        <a href="#" class="products-list__item-link">
          <picture class="products-list__img">
            <source srcset="img/products/products-1.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
      <li class="products-list__item" data-attr="Масла">
        <a href="#" class="products-list__item-link">
          <picture class="products-list__img">
            <source srcset="img/products/products-1.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
      <li class="products-list__item" data-attr="Масла">
        <a href="#" class="products-list__item-link">
          <picture class="products-list__img">
            <source srcset="img/products/products-1.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
      <li class="products-list__item" data-attr="Масла">
        <a href="#" class="products-list__item-link">
          <picture class="products-list__img">
            <source srcset="img/products/products-1.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
    </ul>
  </div>
</section>
