<section class="catalog-item">
  <div class="container catalog-item__container">
    <div class="catalog-item__box">
      <div class="catalog-item__swipers-box">
        <div class="swiper catalog-item__swiper">
          <div class="swiper-wrapper catalog-item__wrapper">
            <div class="swiper-slide catalog-item__slide" data-attr="Мука">
              <picture>
                <source srcset="img/catalog-item/catalog-1.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-item/catalog-1.jpg" class="image catalog-item__img" width="452"
                  height="559" alt="Упаковка муки с описанием продукта">
              </picture>
            </div>
            <div class="swiper-slide catalog-item__slide" data-attr="Мука">
              <picture>
                <source srcset="img/catalog-item/catalog-1.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-item/catalog-1.jpg" class="image catalog-item__img" width="452"
                  height="559" alt="Упаковка муки с описанием продукта">
              </picture>
            </div>
            <div class="swiper-slide catalog-item__slide" data-attr="Мука">
              <picture>
                <source srcset="img/catalog-item/catalog-1.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-item/catalog-1.jpg" class="image catalog-item__img" width="452"
                  height="559" alt="Упаковка муки с описанием продукта">
              </picture>
            </div>
            <div class="swiper-slide catalog-item__slide" data-attr="Мука">
              <picture>
                <source srcset="img/catalog-item/catalog-1.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-item/catalog-1.jpg" class="image catalog-item__img" width="452"
                  height="559" alt="Упаковка муки с описанием продукта">
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper catalog-item__swiper-mini">
          <div class="swiper-wrapper catalog-item__wrapper-mini">
            <div class="swiper-slide catalog-item__slide-mini">
              <picture>
                <source srcset="img/catalog-item/catalog-1.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-item/catalog-1.jpg" class="image catalog-item__slide-mini-img"
                  width="452" height="559" alt="Упаковка муки с описанием продукта">
              </picture>
            </div>
            <div class="swiper-slide catalog-item__slide-mini">
              <picture>
                <source srcset="img/catalog-item/catalog-1.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-item/catalog-1.jpg" class="image catalog-item__slide-mini-img"
                  width="452" height="559" alt="Упаковка муки с описанием продукта">
              </picture>
            </div>
            <div class="swiper-slide catalog-item__slide-mini">
              <picture>
                <source srcset="img/catalog-item/catalog-1.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-item/catalog-1.jpg" class="image catalog-item__slide-mini-img"
                  width="452" height="559" alt="Упаковка муки с описанием продукта">
              </picture>
            </div>
            <div class="swiper-slide catalog-item__slide-mini">
              <picture>
                <source srcset="img/catalog-item/catalog-1.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-item/catalog-1.jpg" class="image catalog-item__slide-mini-img"
                  width="452" height="559" alt="Упаковка муки с описанием продукта">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="catalog-item__descr-box">
        <h2 class="catalog-item__title">Мука рисовая</h2>
        <ul class="catalog-item__list-text list-reset">
          <li class="catalog-item__item-text">
            <p class="catalog-item__text">
              Рисовая мука — тип муки, произведённый из зёрен риса. Она отличается от рисового крахмала, который обычно
              получают путём вымачивания риса в щёлоке.
            </p>
          </li>
          <li class="catalog-item__item-text">
            <p class="catalog-item__text">
              Такую муку часто используют в национальных кухнях стран Юго-Восточной Азии: в китайской, японской,
              корейской, тайской, вьетнамской, индийской.
            </p>
          </li>
        </ul>
        <ul class="catalog-item__list-links list-reset">
          <li class="catalog-item__item-link catalog-item__item-link--wb">
            <a href="https://www.wildberries.ru/" target="_blank" class=" catalog-item__link">Wildberries</a>
          </li>
          <li class="catalog-item__item-link catalog-item__item-link--ozon">
            <a href="https://www.ozon.ru/" target="_blank" class=" catalog-item__link">OZON</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="catalog-item__familiar-products">
      <h2 class="catalog-item__familiar-title title">Похожие продукты</h2>
      <ul class="products-list list-reset">
        <li class="products-list__item" data-attr="Масла">
          <a href="error.html" class="products-list__item-link">
            <picture class="products-list__img">
              <source srcset="img/products/products-1.webp" type="image/webp">
              <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
                alt="Стекляная бутылка с маслом">
            </picture>
            <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
          </a>
        </li>
        <li class="products-list__item" data-attr="Масла">
          <a href="error.html" class="products-list__item-link">
            <picture class="products-list__img">
              <source srcset="img/products/products-1.webp" type="image/webp">
              <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
                alt="Стекляная бутылка с маслом">
            </picture>
            <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
          </a>
        </li>
        <li class="products-list__item" data-attr="Масла">
          <a href="error.html" class="products-list__item-link">
            <picture class="products-list__img">
              <source srcset="img/products/products-1.webp" type="image/webp">
              <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
                alt="Стекляная бутылка с маслом">
            </picture>
            <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
          </a>
        </li>
        <li class="products-list__item" data-attr="Масла">
          <a href="error.html" class="products-list__item-link">
            <picture class="products-list__img">
              <source srcset="img/products/products-1.webp" type="image/webp">
              <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
                alt="Стекляная бутылка с маслом">
            </picture>
            <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
