<section class="contacts">
  <div class="container contacts__container">
    <picture>
      <source srcset="img/contacts/contacts-1.webp" type="image/webp">
      <img loading="lazy" src="img/contacts/contacts-1.png" class="contacts__img image" width="623" height="640"
        alt="Фрукты в разрезе на голубом фоне">
    </picture>
    <div class="contacts__inner">
      <h2 class="contacts__title title">
        Мы с удовольствием поговорим о том, как мы можем работать вместе.
      </h2>
      <p class="contacts__text">
        Позвонив нам, мы расскажем вам о преимуществах здорового питания, о том, как наша продукция может вам помочь и о том, как мы вместе можем помочь друг другу. 
      </p>
      <ul class="contacts__connects list-reset">
        <li class="contacts__connects-item contacts__connects-item--email">
          <h3 class="contacts__connects-subtitle title">Сообщение</h3>
          <a href="mailto:support@belalea.by" class="contacts__connects-link">support@belalea.by</a>
        </li>
        <li class="contacts__connects-item contacts__connects-item--tel">
          <h3 class="contacts__connects-subtitle title">Звонок</h3>
          <a href="tel:+375297897895" class="contacts__connects-link">+375 (29) 789 789 5</a>
        </li>
      </ul>
      <ul class="socials-list list-reset">
        <li class="socials-list__item">
          <a href="#" class="socials-list__link">
            <svg class="socials-list__svg">
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list__item">
          <a href="#" class="socials-list__link">
            <svg class="socials-list__svg">
              <use xlink:href="img/sprite.svg#fb"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list__item">
          <a href="#" class="socials-list__link">
            <svg class="socials-list__svg">
              <use xlink:href="img/sprite.svg#tw"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list__item">
          <a href="#" class="socials-list__link">
            <svg class="socials-list__svg">
              <use xlink:href="img/sprite.svg#pinterest"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
