<section class="details">
  <div class="container details__container">
    <picture>
      <source srcset="img/details/details-bg.webp" type="image/webp">
      <img class="details__img" loading="lazy" src="img/details/details-bg.png" class="image" width="721" height="656" alt="Разные натуральные продукты на тарелке">
    </picture>
    <div class="details__content">
      <span class="details__subtitle small-title">О нас</span>
      <h2 class="details__title title">
        Натуральне продукты - здоровое население
      </h2>
      <div class="details__inner">
        <ul class="details__text-list list-reset">
          <li class="details__text-item">
            <p class="details__text">
              Наша замечательная команда занимается производством cыродавленных масел, муки редких видов и протеина. В нашем ассортименте есть и cемена различных полезных масличных культур.
            </p>
          </li>
          <li class="details__text-item">
            <p class="details__text">
              Наши cыродавленные масла отжимаются с помощью гидравлического пресса в бочонках. Семена не подвергаются нагреву, отжим происходит исключительно при комнатной температуре. Только так можно сохранить все полезные жирные кислоты, которые необходимы организму.
            </p>
          </li>
        </ul>
        <ul class="details__icons-list list-reset">
          <li class="details__icons-item details__icons-item--1">
            <h3 class="details__icons-title">
              Современная сельхоз. техника
            </h3>
          </li>
          <li class="details__icons-item details__icons-item--2">
            <h3 class="details__icons-title">
              Выращивание без гормонов
            </h3>
          </li>
        </ul>
      </div>
      <a href="contacts.html" class="details__link link link--azure">Контакты</a>
    </div>
  </div>
</section>
