<section class="eco">
  <div class="container eco__container">
    <div class="eco__content">
      <span class="eco__subtitle small-title">Eco friendly</span>
      <h2 class="eco__title title">Создаём здоровое будущее</h2>
      <ul class="eco__list list-reset">
        <li class="eco__item">
          <h3 class="eco__item-subtitle">Современное сельское хозяйство</h3>
          <p class="eco__item-text">
            Полагаясь на природу, мы предлагаем продукты без искусственных добавок, гарантируя вам чистоту и качество.
            На каждом этапе производства мы стремимся к совершенству, чтобы вы могли наслаждаться продуктами с
            превосходным качеством и вкусом.
          </p>
        </li>
        <li class="eco__item">
          <h3 class="eco__item-subtitle">Технологичный подход в производстве</h3>
          <p class="eco__item-text">
            Полагаясь на природу, мы предлагаем продукты без искусственных добавок, гарантируя вам чистоту и качество.
            На каждом этапе производства мы стремимся к совершенству, чтобы вы могли наслаждаться продуктами с
            превосходным качеством и вкусом.
          </p>
        </li>
        <li class="eco__item">
          <h3 class="eco__item-subtitle">Популяризация натуральных продуктов</h3>
          <p class="eco__item-text">
            Полагаясь на природу, мы предлагаем продукты без искусственных добавок, гарантируя вам чистоту и качество.
            На каждом этапе производства мы стремимся к совершенству, чтобы вы могли наслаждаться продуктами с
            превосходным качеством и вкусом.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
