<footer class="footer">
  <div class="container footer__container">
    <address class="footer__address">
      <h4 class="footer__subtitle subtitle">Contact Us</h4>
      <ul class="footer__contact-list list-reset">
        <li class="footer__contact-item">
          <span class="footer__contact-title">Email</span>
          <a href="mailto:needhelp@Organia.com" class="footer__contact-link">needhelp@Organia.com</a>
        </li>
        <li class="footer__contact-item">
          <span class="footer__contact-title">Phone</span>
          <a href="tel:+666888888" class="footer__contact-link">666 888 888</a>
        </li>
        <li class="footer__contact-item">
          <span class="footer__contact-title">Address</span>
          <p class="footer__contact-text">88 road, borklyn street, USA</p>
        </li>
      </ul>
    </address>
    <div class="footer__social">
      <a class="footer__logo logo">
        <picture>
          <source srcset="img/logo.webp" type="image/webp">
          <img loading="lazy" src="img/logo.png" class="image" width="244" height="74" alt="Логотип компании Belalea">
        </picture>
      </a>
      <p class="footer__social-text">
        Следите за новостями и акциями в наших социальных сетях, подпишитесь!
      </p>
      <ul class="footer__social-list list-reset">
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">
            <svg class="footer__social-svg">
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">
            <svg class="footer__social-svg">
              <use xlink:href="img/sprite.svg#fb"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">
            <svg class="footer__social-svg">
              <use xlink:href="img/sprite.svg#tw"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">
            <svg class="footer__social-svg">
              <use xlink:href="img/sprite.svg#pinterest"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__utility-box">
      <h4 class="footer__subtitle subtitle">Utility Pages</h4>
      <ul class="footer__utility-list list-reset">
        <li class="footer__utility-item">
          <a href="#" class="footer__utility-link">Style Guide</a>
        </li>
        <li class="footer__utility-item">
          <a href="#" class="footer__utility-link">404 Not Found</a>
        </li>
        <li class="footer__utility-item">
          <a href="#" class="footer__utility-link">Password Protected</a>
        </li>
        <li class="footer__utility-item">
          <a href="#" class="footer__utility-link">Licences</a>
        </li>
        <li class="footer__utility-item">
          <a href="#" class="footer__utility-link">Changelog</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<div class="overlay" data-menu-overlay></div>
