<section class="form">
  <div class="container form__container">
    <form class="form" action="#" method="post">
      <ul class="form__list list-reset">
        <li class="form__item">
          <label class="form__label">
            <h2 class="form__label-title">
              Как вас зовут?*
            </h2>
            <input type="text" class="form__input input-reset" placeholder="Введите имя" required>
          </label>
        </li>
        <li class="form__item">
          <label class="form__label">
            <h2 class="form__label-title">
              Ваша почта*
            </h2>
            <input type="email" class="form__input input-reset" placeholder="example@yourmail.com" required>
          </label>
        </li>
        <li class="form__item">
          <label class="form__label">
              <h2 class="form__label-title">
                Компания
              </h2>
            <input type="text" class="form__input input-reset" placeholder="Название компании">
          </label>
        </li>
        <li class="form__item">
          <label class="form__label">
            <h2 class="form__label-title">
              Тема обращения*
            </h2>
            <input type="text" class="form__input input-reset" placeholder="Напишите предложение или вопрос" required>
          </label>
        </li>
        <li class="form__item form__item--textarea">
          <label class="form__label">
            <h2 class="form__label-title">
              Сообщение*
            </h2>
            <textarea class="form__textarea" placeholder="Не забудьте поздороваться :)" required></textarea>
          </label>
        </li>
      </ul>
      <button type="submit" class="form__btn btn btn--azure btn-reset">Отправить</button>
    </form>
  </div>
</section>
