<div class="graph-modal">
  <div class="graph-modal__container graph-modal__container--promo" role="dialog" aria-modal="true" data-graph-target="banner-promo-new">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content promo-content promo-content--new">
      <h2 class="promo-content__title promo-content__title--new title">
        Скоро все будет !
      </h2>
      <a href="catalog.html" class="promo-content__link link link--azure">Каталог</a>
    </div>
  </div>

  <div class="graph-modal__container graph-modal__container--promo" role="dialog" aria-modal="true" data-graph-target="banner-promo-sale">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content promo-content promo-content--sale">
      <h2 class="promo-content__title promo-content__title--sale title">
        Скоро все будет !
      </h2>
      <a href="catalog.html" class="promo-content__link link link--azure">Каталог</a>
    </div>
  </div>
</div>
