<section class="news-page-list">
  <div class="container news-page-list__container">
    <div class="news-box">
      <ul class="news-box__list list-reset">
        <li class="news-box__item news-box__item--1">
          <div class="news-box__time-inner">
            <time class="news-box__time title" datetime="2023-08-23">25</time>
            <time class="news-box__time title" datetime="2023-08-23">Авг.</time>
          </div>
          <div class="news-box__item-inner">
            <h3 class="news-box__item-subtitle title">Витаминная заправка для летнего салата</h3>
            <p class="news-box__item-text">
              Идеально подойдет для людей на правильном питании
            </p>
            <a href="news-article.html" class="news-box__item-link link news-box__item-link--articles">Читать дальше</a>
          </div>
        </li>
        <li class="news-box__item news-box__item--2">
          <div class="news-box__time-inner">
            <time class="news-box__time title" datetime="2023-10-25">25</time>
            <time class="news-box__time title" datetime="2023-10-25">Окт.</time>
          </div>
          <div class="news-box__item-inner">
            <h3 class="news-box__item-subtitle title">Каких витаминов не хватает осенью?</h3>
            <p class="news-box__item-text">
              По результатм исследований, осенью люди особенно нуждаются в витамине D.
            </p>
            <a href="news-article.html" class="news-box__item-link link news-box__item-link--articles">Читать дальше</a>
          </div>
        </li>
        <li class="news-box__item news-box__item--3">
          <div class="news-box__time-inner">
            <time class="news-box__time title" datetime="2023-10-25">25</time>
            <time class="news-box__time title" datetime="2023-10-25">Окт.</time>
          </div>
          <div class="news-box__item-inner">
            <h3 class="news-box__item-subtitle title">Каких витаминов не хватает осенью?</h3>
            <p class="news-box__item-text">
              По результатм исследований, осенью люди особенно нуждаются в витамине D.
            </p>
            <a href="news-article.html" class="news-box__item-link link news-box__item-link--articles">Читать дальше</a>
          </div>
        </li>
        <li class="news-box__item news-box__item--4">
          <div class="news-box__time-inner">
            <time class="news-box__time title" datetime="2023-10-25">25</time>
            <time class="news-box__time title" datetime="2023-10-25">Окт.</time>
          </div>
          <div class="news-box__item-inner">
            <h3 class="news-box__item-subtitle title">Каких витаминов не хватает осенью?</h3>
            <p class="news-box__item-text">
              По результатм исследований, осенью люди особенно нуждаются в витамине D.
            </p>
            <a href="news-article.html" class="news-box__item-link link news-box__item-link--articles">Читать дальше</a>
          </div>
        </li>
        <li class="news-box__item news-box__item--5">
          <div class="news-box__time-inner">
            <time class="news-box__time title" datetime="2023-10-25">25</time>
            <time class="news-box__time title" datetime="2023-10-25">Окт.</time>
          </div>
          <div class="news-box__item-inner">
            <h3 class="news-box__item-subtitle title">Каких витаминов не хватает осенью?</h3>
            <p class="news-box__item-text">
              По результатм исследований, осенью люди особенно нуждаются в витамине D.
            </p>
            <a href="news-article.html" class="news-box__item-link link news-box__item-link--articles">Читать дальше</a>
          </div>
        </li>
        <li class="news-box__item news-box__item--6">
          <div class="news-box__time-inner">
            <time class="news-box__time title" datetime="2023-10-25">25</time>
            <time class="news-box__time title" datetime="2023-10-25">Окт.</time>
          </div>
          <div class="news-box__item-inner">
            <h3 class="news-box__item-subtitle title">Каких витаминов не хватает осенью?</h3>
            <p class="news-box__item-text">
              По результатм исследований, осенью люди особенно нуждаются в витамине D.
            </p>
            <a href="news-article.html" class="news-box__item-link link news-box__item-link--articles">Читать дальше</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
