<section class="news-article">
  <div class="news-article__top">
    <div class="news-article__top-box">
      <p class="news-article__date-text">Дата публикации: <time class="news-article__time">Январь 6, 2024</time></p>
      <h1 class="news-article__main-title title">
        Research More Organic Food
      </h1>
      <p class="news-article__top-text">
        В журнале Nutrients опубликован научный обзор, в котором отражено, что потребление органических продуктов питания имеет измеримые преимущества для здоровья человека. Среди тех, кто потребляет органическую пищу в большом количестве, меньше количество случаев бесплодия, врожденных дефектов, преэклампсии, аллергии, инфекций среднего уха у детей, неходжкинской лимфомы, метаболического синдрома и инсульта.
      </p>
    </div>
  </div>
  <div class="container news-article__container">
    <p class="news-article__text">
      Этот научный обзор является одним из наиболее полных исследований для оценки последствий употребления органических продуктов для здоровья человека. В него включены данные тридцати пяти обсервационных (наблюдательных) и клинических исследований.
    </p>
    <h2 class="news-article__title title news-article__title--title-2">
      Предпочтительная форма витамина D?
    </h2>
    <p class="news-article__text">
      В рамках наблюдательных исследований сравнивали здоровье людей, которые постоянно  потребляли органические продукты, с состоянием здоровья людей, регулярно принимающих в пищу обычные продукты. Анализ этих исследований показал значимую зависимость с повышением здоровья и органическим питанием. Например, те, кто больше употреблял экопродукты, увеличивали плодовитость, здоровье плода, уменьшали воспаление и уменьшали рис раковых заболеваний, болезней сердца и инсульта.
    </p>
    <ul class="news-article__list list-reset">
      <li class="news-article__item news-article__item--ul">
        <p class="news-article__point">
          в качестве удобрений применяется исключительно органика
        </p>
      </li>
      <li class="news-article__item news-article__item--ul">
        <p class="news-article__point">
          для рыбных ферм используются искусственные водоемы с чистой водой, не содержащей химически вредных примесей
        </p>
      </li>
      <li class="news-article__item news-article__item--ul">
        <p class="news-article__point">
          упаковочная тара не должна содержать компонентов, загрязняющих окружающую среду, легко и без остатков утилизироваться
        </p>
      </li>
    </ul>
    <blockquote class="news-article__blockquote">
      <p class="news-article__blockquote-text">
        «Первое правило любой органики, используемой в бизнесе, заключается в том, что природа, применяемая для эффективной работы, увеличивает эффективность. Во-вторых, применение органических веществ в неэффективных операциях улучшит здоровье».
      </p>
    </blockquote>
    <h3 class="news-article__title title news-article__title--title-3">
      Сделайте идеальный органический продукт вместе с нами
    </h3>
    <p class="news-article__text">
      Около 140 стран в мире развивают технологии производства органических продуктов питания, помогая развитию фермерских хозяйств, специализирующихся на эко-продукции. С их помощью производят многие виды мясомолочной, овощной и зерновой продукции. Часть продуктов краткосрочного хранения реализуется в региональных специализированных магазинах. Некоторые виды органики можно приобрести в и интернет-магазинах, сделав заказ онлайн.
    </p>
    <ol class="news-article__list list-reset">
      <li class="news-article__item news-article__item--ol">
        <p class="news-article__point">
          зеленые и черные оливки;
        </p>
      </li>
      <li class="news-article__item news-article__item--ol">
        <p class="news-article__point">
          фруктовые, овощные соки и пюре;
        </p>
      </li>
      <li class="news-article__item news-article__item--ol">
        <p class="news-article__point">
          макаронные изделия;
        </p>
      </li>
    </ol>
  </div>
</section>
