<section class="offer">
  <div class="container offer__container">
    <div class="offer__top">
      <h2 class="offer__title title">Лучшие предложения месяца</h2>
      <a href="" class="link link--orange">Смотреть все</a>
    </div>
    <ul class="products-list list-reset">
      <li class="products-list__item">
        <a href="#" class="products-list__item-link">
          <span class="products-list__item-info">Масла</span>
          <picture class="products-list__img">
            <source srcset="img/products/products-1.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
      <li class="products-list__item">
        <a href="#" class="products-list__item-link">
          <span class="products-list__item-info">Масла</span>
          <picture class="products-list__img">
            <source srcset="img/products/products-1.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
      <li class="products-list__item">
        <a href="#" class="products-list__item-link">
          <span class="products-list__item-info">Масла</span>
          <picture class="products-list__img">
            <source srcset="img/products/products-1.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
      <li class="products-list__item">
        <a href="#" class="products-list__item-link">
          <span class="products-list__item-info">Масла</span>
          <picture class="products-list__img">
            <source srcset="img/products/products-1.webp" type="image/webp">
            <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
              alt="Стекляная бутылка с маслом">
          </picture>
          <p class="products-list__item-descr">Масло тыквенное, 250мл</p>
        </a>
      </li>
    </ul>
  </div>
</section>
