<section class="products">
  <div class="container products__container">
    <div class="products__content">
      <span class="pdoducts__subtitle small-title">Категории</span>
      <h2 class="products__title title">Наши продукты</h2>
      <ul class="products__list products-list list-reset">
        <li class="products__item products-list__item" data-attr="Масла">
          <a href="#" class="products__item-link products-list__item-link">
            <picture class="products__img products-list__img">
              <source srcset="img/products/products-1.webp" type="image/webp">
              <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
                alt="Стекляная бутылка с маслом">
            </picture>
            <p class="products__item-descr products-list__item-descr">Масло тыквенное, 250мл</p>
          </a>
        </li>
        <li class="products__item products-list__item" data-attr="Масла">
          <a href="#" class="products__item-link products-list__item-link">
            <picture class="products__img products-list__img">
              <source srcset="img/products/products-1.webp" type="image/webp">
              <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
                alt="Стекляная бутылка с маслом">
            </picture>
            <p class="products__item-descr products-list__item-descr">Масло тыквенное, 250мл</p>
          </a>
        </li>
        <li class="products__item products-list__item" data-attr="Масла">
          <a href="#" class="products__item-link products-list__item-link">
            <picture class="products__img products-list__img">
              <source srcset="img/products/products-1.webp" type="image/webp">
              <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
                alt="Стекляная бутылка с маслом">
            </picture>
            <p class="products__item-descr products-list__item-descr">Масло тыквенное, 250мл</p>
          </a>
        </li>
        <li class="products__item products-list__item" data-attr="Масла">
          <a href="#" class="products__item-link products-list__item-link">
            <picture class="products__img products-list__img">
              <source srcset="img/products/products-1.webp" type="image/webp">
              <img loading="lazy" src="img/products/products-1.jpg" class="image" width="292" height="361"
                alt="Стекляная бутылка с маслом">
            </picture>
            <p class="products__item-descr products-list__item-descr">Масло тыквенное, 250мл</p>
          </a>
        </li>
        <li class="products__item products-list__item" data-attr="Мука">
          <a href="#" class="products__item-link products-list__item-link">
            <picture class="products__img products-list__img">
              <source srcset="img/products/products-2.webp" type="image/webp">
              <img loading="lazy" src="img/products/products-2.jpg" class="image" width="292" height="361"
                alt="Стекляная бутылка с маслом">
            </picture>
            <p class="products__item-descr products-list__item-descr">Масло тыквенное, 250мл</p>
          </a>
        </li>
        <li class="products__item products-list__item" data-attr="Мука">
          <a href="#" class="products__item-link products-list__item-link">
            <picture class="products__img products-list__img">
              <source srcset="img/products/products-2.webp" type="image/webp">
              <img loading="lazy" src="img/products/products-2.jpg" class="image" width="292" height="361"
                alt="Стекляная бутылка с маслом">
            </picture>
            <p class="products__item-descr products-list__item-descr">Масло тыквенное, 250мл</p>
          </a>
        </li>
        <li class="products__item products-list__item" data-attr="Мука">
          <a href="#" class="products__item-link products-list__item-link">
            <picture class="products__img products-list__img">
              <source srcset="img/products/products-2.webp" type="image/webp">
              <img loading="lazy" src="img/products/products-2.jpg" class="image" width="292" height="361"
                alt="Стекляная бутылка с маслом">
            </picture>
            <p class="products__item-descr products-list__item-descr">Масло тыквенное, 250мл</p>
          </a>
        </li>
        <li class="products__item products-list__item" data-attr="Мука">
          <a href="#" class="products__item-link products-list__item-link">
            <picture class="products__img products-list__img">
              <source srcset="img/products/products-2.webp" type="image/webp">
              <img loading="lazy" src="img/products/products-2.jpg" class="image" width="292" height="361"
                alt="Стекляная бутылка с маслом">
            </picture>
            <p class="products__item-descr products-list__item-descr">Масло тыквенное, 250мл</p>
          </a>
        </li>
      </ul>
    </div>
    <a href="" class="products__link link link--azure">Смотреть всё</a>
  </div>
</section>
