<section class="reviews">
  <div class="container reviews__container">
    <span class="reviews__subtitle small-title">Отзывы</span>
    <h2 class="reviews__title title">Что говорят наши покупатели?</h2>
    <div class="swiper reviews__swiper">
      <div class="swiper-wrapper reviews__swiper-wrapper">
        <div class="swiper-slide reviews__slide">
          <div class="reviews__inner">
            <picture class="reviews__picture">
              <source srcset="img/reviews/reviews-1.webp" type="image/webp">
              <img class="reviews__img" loading="lazy" src="img/reviews/reviews-1.jpg" class="image" width="125" height="156" alt="Улыбающаяся девушка">
            </picture>
          </div>
          <p class="reviews__text">
            Я очень рада, что однажды нашла продукцию данной компании ! Уже несколько лет покупаю только у них, мне все безумно нравится !
          </p>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="reviews__inner">
            <picture class="reviews__picture">
              <source srcset="img/reviews/reviews-1.webp" type="image/webp">
              <img class="reviews__img" loading="lazy" src="img/reviews/reviews-1.jpg" class="image" width="125" height="156" alt="Улыбающаяся девушка">
            </picture>
          </div>
          <p class="reviews__text">
            Я очень рада, что однажды нашла продукцию данной компании ! Уже несколько лет покупаю только у них, мне все безумно нравится !
          </p>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="reviews__inner">
            <picture class="reviews__picture">
              <source srcset="img/reviews/reviews-1.webp" type="image/webp">
              <img class="reviews__img" loading="lazy" src="img/reviews/reviews-1.jpg" class="image" width="125" height="156" alt="Улыбающаяся девушка">
            </picture>
          </div>
          <p class="reviews__text">
            Я очень рада, что однажды нашла продукцию данной компании ! Уже несколько лет покупаю только у них, мне все безумно нравится !
          </p>
        </div>
      </div>
      <div class="reviews__pagination"></div>
    </div>
    <ul class="reviews__list list-reset">
      <li class="reviews__list-item">
        <span class="reviews__item-descr title">100%</span>
        <p class="reviews__item-text">Органически</p>
      </li>
      <li class="reviews__list-item">
        <span class="reviews__item-descr title">15</span>
        <p class="reviews__item-text">Продуктов на рынке</p>
      </li>
      <li class="reviews__list-item">
        <span class="reviews__item-descr title">150+</span>
        <p class="reviews__item-text">Торгорвых точек</p>
      </li>
      <li class="reviews__list-item">
        <span class="reviews__item-descr title">5+</span>
        <p class="reviews__item-text">Лет на рынке</p>
      </li>
    </ul>
  </div>
</section>
